@model ActiveCharts.ViewModels.ChartViewModel
@{
	Layout = null;
}

<div class="col-md-12" style="background-color: #eef0f2;">
	<div style="padding: 5px 15px 15px 15px">
		<div class="form-group">
			<label> Chart data:</label>
			<textarea id="chartData" class="chartDataArea form-control" placeholder="Input chart's data">@Model.Data</textarea>
		</div>
		<div class="col-md-12">
			<button onclick=' render() ' class="btn btn-action pull-right">Build</button>
		</div>

		<div class="col-md-12" style="margin-top: 10px; margin-bottom: 10px">
			<div id='editorChart'></div>
		</div>

		@if (string.IsNullOrEmpty(Model.Id))
		{
			<div class="col-md-12">
				<button onclick='save()' class="btn btn-success pull-right" id="chartSave" style="display: none">Save</button>
			</div>
		}
		else
		{
			<div class="col-md-12">
				<button onclick="update('@Model.Id')" class="btn btn-success pull-right" id="chartSave" style="display: none">Save</button>
			</div>
		}


		@if (!String.IsNullOrEmpty(Model.PngLink))
		{
			<div class="form-group">
				<label>png link:</label>
				<input type="text" class="form-control" value="@Model.PngLink">
			</div>
		}
		@if (!String.IsNullOrEmpty(Model.IframeLink))
		{
			<div class="form-group">
				<label>Chart embed code:</label>
				<textarea class="form-control">@Html.Raw(Model.IframeLink)</textarea>
			</div>
		}
	</div>

</div>

