

<!-- Header -->
<header id="head">
	<div class="container">
		<div class="row">
			<h1 style="color: rgb(56,37,37);">AWESOME, POWERFUL, FREE</h1>
			<p style="margin-top: 35px;"><a class="btn btn-action btn-lg" role="button">DOWNLOAD CHROME PLUGIN</a></p>
		</div>
	</div>
</header>
<!-- /Header -->
<!-- Intro -->
<div class="container text-center">
	<br> <br>
	<h2 class="thin">Welcome to Active Charts!</h2>
	<p class="text-muted">
		Forget about charts from excel. Forget about manual updating data or writing scripts.
	</p>
	<p class="text-muted">
		Let our charts work instead of you!
	</p>
</div>
<!-- /Intro-->
<!-- Highlights - jumbotron -->
<div class="jumbotron top-space">
	<div class="container">

		<h3 class="text-center thin">Reasons to use our service</h3>

		<div class="row">
			<div class="col-md-3 col-sm-6 highlight">
				<div class="h-caption"><h4><i class="fa fa-cogs fa-5"></i>Customizable</h4></div>
				<div class="h-body text-center">
					<p>Use our chart editor to customize appearance of your charts. Update settings on chart links directly from your Active Charts profile.</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 highlight">
				<div class="h-caption"><h4><i class="fa fa-hand-o-up fa-5"></i>Interactive</h4></div>
				<div class="h-body text-center">
					<p>Choose from various chart formats, including embedded interactive charts. Make your data visualization demonstrative  and easy to read.</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 highlight">
				<div class="h-caption"><h4><i class="fa fa-heart fa-5"></i>Self-sustained</h4></div>
				<div class="h-body text-center">
					<p>Our charts can track and update their data by themselves. Once placed on your page, it will always show actual information.</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 highlight">
				<div class="h-caption"><h4><i class="fa fa-globe fa-5"></i>Flexible</h4></div>
				<div class="h-body text-center">
					<p>For your convinience, our charts support different types of data sources and formats. Just show them direction and we will gather data for you.</p>
				</div>
			</div>
		</div> <!-- /row  -->

	</div>
</div>
<!-- /Highlights -->
